<div>
    <div class="container-mt-5">
        <div class="card-header">
            <a href="http://localhost:4200/"><img src="../../../assets/Aurore logo.png" class="logo"></a>
        </div>
        <div class="card-body">
            <form>
                <div class="type-field">
                    <label for="type">Método:</label>
                    <select id="type" name="type" class="form-control-type" [(ngModel)]="type" required>
                        <option value="">Selecione</option>
                        <option value="pix">Pix</option>
                        <option value="boleto">Boleto</option>
                        <option value="debito">Débito</option>
                        <option value="credito">Crédito</option>
                    </select>
                </div>
                <div class="code-field">
                    <label>Código</label>
                    <input type="text" [(ngModel)]="code" name="code" class="form-control-code">
                </div>
                <a href='payment/:user/'>
                    <button type="button" class="btn-register" onclick="addPaymentMethod()">Cadastrar</button>
                </a>
                <div class="success-screen" id="success-register" onclick="openSuccessRegister()">
                    <span class="success-text">Usuário criado!</span>
                    <a href="http://localhost:4200/users/login">
                        <button type="button" class="btn-success-login">Fazer Login</button>
                    </a>
                    <a href="http://localhost:4200/">
                        <button type="button" class="btn-success-home">Voltar para a página inicial</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
